.salmon-color{ color: rgb(230, 139, 86);}
section{ display: flex;}
body{ 
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Poppins', sans-serif;}
h1{ font-size: 50px;  border-left: 5px solid orangered;
padding-left: 5px;border-radius: 4px;}
.width-size{ width: 50%; padding-left: 5%;}
.width-size img{ width: 80%;}
.button{ text-decoration: none; background-color: rgb(209, 95, 83);
padding: 10px 40px ; border-radius:10px; background-image: linear-gradient(orange , tomato);}
h2{ font-size: 50px; color: rgb(87, 0, 114); text-align: center;}
h3{ text-align: left; font-size: 30px; }


.boxer-lightblue{ border-radius: 20px; padding: 5px 10px; 
box-shadow: 5px 5px 4px lightskyblue; background-color: rgb(197, 212, 226); width: 500px; height: 500px; margin-left: 5%; margin-right: 3%;}


.boxer-pink{ border-radius: 20px;padding:5px 10px ; box-shadow: 5px 5px 5px lightpink; background-color: lightpink; width: 500px; height: 500px; margin-left: 5%; margin-right: 5%;}


.boxer-yellow{ border-radius: 15px; padding: 5px; box-shadow: 5px 5px 4px light rgb(226, 226, 176); background-color: rgb(218, 218, 142); width: 500px; height: 500px; margin-left: 5%;margin-right: 5%;}

.background-banner{background-image: url(shape-1.png); background-repeat: no-repeat; background-size: 50%;}

#black-color{ color: black; text-align: left; font-size: 30px;}

#color-heading{ color: black; font-size: 40px; }

.last-banner{
    background-image: url(shape-2.png);
}
#web-net{ font-size: 40px; color: lightseagreen;}

h4{ text-align: center;font-size: 30px; color: blanchedalmond; }
.mission-2022{ box-shadow: black; border: 1px solid black; background-color: black; }
#style{ text-align: center;  color: chartreuse;}
